progress {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
  color: #004F97;
}

progress::-webkit-progress-bar {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
}

progress::-webkit-progress-value {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
  background: #004F97;
}

progress::-moz-progress-bar {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
  background: #004F97;
}
