progress {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
  color: var(--primary-darker-color);
}

progress::-webkit-progress-bar {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
}

progress::-webkit-progress-value {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
  background: var(--primary-darker-color);
}

progress::-moz-progress-bar {
  border: 0;
  height: 1rem;
  border-radius: 0.2rem;
  background: var(--primary-darker-color);
}
