.gain-input {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  align-items: center;
}

.gain-input label {
  width: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  appearance: slider-vertical;
  -webkit-appearance: slider-vertical;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
  height: 200px;
  width: 100px;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.range-input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.range-input::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
}

.range-input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}

.range-input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}

.range-input::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
}

.range-input:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}

.range-input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}

.gain-reset {
  font-size: 12px;
  margin-top: 12px;
  padding: 5px;
  max-width: 50px;
}
