/* color palette */
:root {
  --breakpoint-mobile: 440px;
  --breakpoint-tablet: 800px;
}

html {
  box-sizing: border-box;
  font-size: calc(1em + 0.618vw);
  color: var(--foreground-color);
  background-color: var(--background-color);

  width: 100vw;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--primary-darker-color);
  text-decoration: none;
}

button,
input {
  color: var(--foreground-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.2rem;
  padding: 0.4rem 1rem;
  min-width: 0;
}

button:disabled,
input:disabled {
  background-color: var(--gray-color);
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--gray-color);
  background-color: var(--background-color);
}

.app-logo {
  font-family: Hoefler Text, Baskerville Old Face, Garamond, Times New Roman,
    serif;
  font-weight: bold;
  padding: 0.65em 2em 0.35em 2em;
  font-size: 1.1em;
}

.app-logo a:link,
.app-logo a:visited,
.app-logo a:hover,
.app-logo a:active {
  color: var(--primary-color);
  text-decoration: none;
}

.app-wrapper {
  margin: 2rem 3rem;
}
