/* color palette */
/* #FF6801 #EBECEC #C0C1C1 #3A6FA6 #004F97 #0C2645 */ 

html {
  box-sizing: border-box;
  font-size: calc(1em + 0.618vw);
  color: #0C2645;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #004F97;
  text-decoration: none; 
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #C0C1C1;
}

.app-logo {
  font-family: Hoefler Text, Baskerville Old Face, Garamond, Times New Roman, serif;
  font-weight: bold;
  padding: 0.6em 2em 0.4em 2em;
  font-size: 1.1em;
}

.app-logo a:link,
.app-logo a:visited,
.app-logo a:hover,
.app-logo a:active {
  color: #3A6FA6;
  text-decoration: none; 
}

.app-wrapper {
  margin: 2em;
}
