html {
  box-sizing: border-box;
  font-size: calc(1em + 0.618vw);
  color: #373F51;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #008DD5;
  text-decoration: none; 
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}

.app-logo {
  font-family: Hoefler Text, Baskerville Old Face, Garamond, Times New Roman, serif;
  font-weight: bold;
  padding: 0.6em 2em 0.4em 2em;
  font-size: 1.1em;
}

.app-wrapper {
  margin: 2em;
}
